/* .card-img {
  max-width: 200px;
  max-height: 240px;
} */


.Projects{
  display:flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: aqua; */
  margin-left: 10em;
}
.card{
  width:30%;
  object-fit: cover;
  margin: 3em;
}
.card-img-top {
  height: 100%;
  object-fit:cover;
}
/* @include media-breakpoint-down(md) {
  .card-img {
    max-width: 100%;
    max-height: 200px;
  }
} */
