 /* Home */
.App {
  padding: 3.5em;
  border: 1px;
  border-color: black;
  /* display: flex; */
  height:100%;
  /* background-color: blueviolet; */
}

.Home{
  position: absolute;
  bottom: 0;
  right: 0;
}
 /* Navbar */
a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  color:rgb(109, 109, 120) !important;
}

.Navbar{
  position: fixed;
  display: inline-flex;
  height: 100%;
  width: 15%;
  /* background-color: rgb(145, 189, 228); */
}

.Nav-name{
  font-size:40px;
  padding-bottom: 1px;
  text-decoration: none;
}

.Nav-title{
  font-size: 21px;
}

.Navlist{
  padding-left: 0px;
  padding-top: 1.5em;
}

.Navlist-elem{
  display:block;
  padding-bottom: 20px;
}

 /* Projects */
.Projects{
  display:flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: aqua; */
  margin-left: 10em;
}
.card{
  width:30%;
  object-fit: cover;
  margin: 3em;
}
.card-img-top {
  height: 100%;
  object-fit:cover;
}

 /* About */
.About{
  margin: 10em 23em;

}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #edeff1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
} */
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
