 /* Home */

.App {
  padding: 3.5em;
  border: 1px;
  border-color: black;
}

.Home{
  display: flex;
  justify-content: center;
  padding-top: 20em;
  padding-bottom: 18em;
}
 /* Navbar */
a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  color:rgb(106, 106, 197) !important;
}

.Navbar{
  display: block;
  position:fixed;
  top: 5;
  left: 5;
  width: fit-content;
  min-height: 100%;
  overflow: hidden;
  z-index: 9999;
}

.Nav-name{
  font-size:35px;
  padding-bottom: 1px;
  text-decoration: none;
}

.Nav-title{
  font-size: 18px;
}

.Navlist{
  padding-left: 0px;
  padding-top: 1.5em;
}

.Navlist-elem{
  display:block;
  padding-bottom: 20px;
}

 /* Projects */
.Projects{
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10em;
  /* background-color: aqua; */
}

.card{
  width:30%;
  object-fit: cover;
  margin: 3em;
}
.card-img-top {
  height: 100%;
  object-fit:inherit;
}


 /* About */

.About{
  margin: 10em;
  padding: 18em 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.About-hobbies{
  padding-top: 1.25em;
}

.not-nav{
  margin-left: 12em;
}

 /* Contact */
.Contact{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.Contact-title{
  font-size: 20px;
  margin-bottom: 0.5em;

}

.Contact img{
  margin-bottom:1em;
  margin-top: 1em;
  border-style: solid;
  border-width: 4px;
  border-color: black;
}

.Contact ul{
  display: flex;
  flex-direction: row;
  padding-left:0;
  justify-content: space-between;
}
.Contact li{
  list-style-type: none;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
}

.Contact svg{
  height: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #edeff1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}
/*

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
